@inject IStringLocalizer<Resource> Localizer;

@*Regular app bar*@
<div class="AppBar AppBarRegular d-none d-md-flex" style="top: 0">
   
    <div style="flex: 1;">
        <button class="ButtonReservation">@Localizer["Reservation"]</button>
    </div>
    
    <div style="flex: 1; display: flex; margin-left: 1vw">
        <div style="flex: 1; display: flex" id="DivLogo" class="ButtonDiv">
            <button style="background-color: transparent; flex: 1;">
                <img src="Logos/LogoWhiteNoText.png" id="ButtonLogoRegular"/>
            </button>
        </div>
        
        <div style="flex: 1; display: flex;" id="DivOptions" class="ButtonDiv">
            
            <button style="background-color: transparent; flex: 1;" id="ButtonBars">
                <img src="Icons/IconBarsWhite.svg" id="IconBarsRegular"/>
            </button>
            
        </div>
    </div>
</div>


@*Mobile app bar*@
<div class="AppBar AppBarMobile d-flex d-md-none" style="bottom: 0">

    <div style="flex: 1;">
        <button class="ButtonReservationMobile">@Localizer["Reservation"]</button>
    </div>

    <div style="flex: 1; display: flex; margin-left: 4vw;">
        <div style="flex: 1; display: flex" id="DivLogoMobile" class="ButtonDivMobile">
            <button style="background-color: transparent; flex: 1;">
                <img src="Logos/LogoWhiteNoText.png" id="ButtonLogoMobile"/>
            </button>
        </div>

        <div style="flex: 1; display: flex" id="DivOptionsMobile" class="ButtonDivMobile">
            <button style="background-color: transparent; flex: 1;"  id="ButtonBarsMobile">
                <img src="Icons/IconBarsWhite.svg" id="IconBarsMobile"/>
            </button>

        </div>
    </div>
</div>

@code {
    
}