@using Microsoft.Extensions.FileSystemGlobbing.Internal.PathSegments
@inject NavigationManager Navigation;

@* Regular View*@
<div style="display: flex; height: 4vw; border: solid rgb(40, 40, 40) 1px; margin-right: 1vw" class="d-none d-md-flex">
    <button class="CultureButton" @onclick='(() => ChangeLanguage("cs-CZ"))'> CZ </button>
    <MudDivider Vertical="true"/>
    <button class="CultureButton" @onclick='(() => ChangeLanguage("en-US"))'> EN </button>
    <MudDivider Vertical="true"/>
    <button class="CultureButton" @onclick='(() => ChangeLanguage("pl-PL"))'> PL </button>
</div>



@*Mobile View*@
<div style="display: flex; border: solid white 1px; height: 100%; width: 100%; " 
     class="d-flex d-md-none">
    <button class="CultureButtonMobile" @onclick='(() => ChangeLanguage("cs-CZ"))'> CZ </button>
    <MudDivider Vertical="true"/>
    <button class="CultureButtonMobile" @onclick='(() => ChangeLanguage("en-US"))'> EN </button>
    <MudDivider Vertical="true"/>
    <button class="CultureButtonMobile" @onclick='(() => ChangeLanguage("pl-PL"))'> PL </button>
</div>

@code {

    public void ChangeLanguage(string value)
    {
        if (CultureInfo.CurrentCulture.Name != value)
        {
            var uri = new Uri(Navigation.Uri)
                .GetComponents(UriComponents.PathAndQuery, UriFormat.Unescaped);
            var cultureEscaped = Uri.EscapeDataString(value);
            var uriEscaped = Uri.EscapeDataString(uri);

            Navigation.NavigateTo($"Culture/Set?culture={cultureEscaped}&redirectUri={uriEscaped}", forceLoad: true);
        }
    }

}