
@*Regular view*@
<footer class="footer d-none d-md-flex">
    <div class="footer-div-logo">
        <img src="Logos/LogoWhite.png" class="footer-logo">
        <div class="footer-text1">
            <text class="footer-text" style="flex: 1">© 2025 Hotel U STUDÁNKY</text> <br>
            <text class="footer-text" style="flex: 1">Created by CleanWeb</text>
        </div>
    </div>
    <div class="footer-div-project">
        <div class="footer-text2">
            <text>
                Název projektu: Zvýšení standardu služeb hotelu „U Studánky“ Horní Lomná<br>
                Reg. č. projektu: 18/003/19210/780/152/001169<br>

                Cíle a výsledky projektu: Navýšení standardu ubytování a doprovodných služeb, modernizace zařízení,<br>
                snížení energetické náročnosti, zvýšení bezpečnosti klientů v areálu hotelu, <br>
                vyhovění požadavkům hygieny na HACCP a úpravu bazénové vody. Odstranění zatékání do půdních prostor přes střešní krytinu.<br>

                Výše poskytnuté dotace: 449 100,- Kč<br>

                Projekt je spolufinancován z Programu rozvoje venkova v rámci výzvy č. 2 MAS Jablunkovsko.
            </text>
        </div>
        <div class="footer-images">
            <img src="Logos/LogoFooter1.jpg" style="position: absolute; width: 80%">
            <img src="Logos/LogoFooter2.jpg" style="position: absolute; bottom: 5vw; width: 50%">
        </div>
    </div>
</footer>

@*Mobile view*@
<footer class="footer-mobile d-flex d-md-none">
        <img src="Logos/LogoWhite.png" class="footer-logo-mobile">
        
        <div class="footer-div-project-mobile">
                <text>
                    Název projektu: Zvýšení standardu služeb hotelu „U Studánky“ Horní Lomná<br>
                    Reg. č. projektu: 18/003/19210/780/152/001169<br>

                    Cíle a výsledky projektu: Navýšení standardu ubytování a doprovodných služeb, modernizace zařízení,<br>
                    snížení energetické náročnosti, zvýšení bezpečnosti klientů v areálu hotelu, <br>
                    vyhovění požadavkům hygieny na HACCP a úpravu bazénové vody. Odstranění zatékání do půdních prostor přes střešní krytinu.<br>

                    Výše poskytnuté dotace: 449 100,- Kč<br>

                    Projekt je spolufinancován z Programu rozvoje venkova v rámci výzvy č. 2 MAS Jablunkovsko.
                </text>
            <div class="footer-images-mobile">
                <img src="Logos/LogoFooter1.jpg" style="position: absolute; width: 80%">
                <img src="Logos/LogoFooter2.jpg" style="position: absolute; bottom: 5vw; width: 50%">
            </div>
        </div>

        <div class="footer-text1-mobile">
            <text class="footer-text-mobile" style="flex: 1">© 2025 Hotel U STUDÁNKY</text> <br>
            <text class="footer-text-mobile" style="flex: 1">Created by CleanWeb</text>
        </div>
        
</footer>

@code {
    
}