<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />  
    <link href="Fonts/Trebuchet.ttf" rel="stylesheet" />
    <link href=@Assets["_content/MudBlazor/MudBlazor.min.css"] rel="stylesheet" />
    <ImportMap />
    <link rel="icon" type="image/ico" href="favicon.ico" />

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    
    <link href="Stylesheets/AppBar.css" rel="stylesheet"/>
    <link href="Stylesheets/Home.css" rel="stylesheet"/>
    <link href="Stylesheets/Drawer.css" rel="stylesheet"/>
    <link href="Stylesheets/Footer.css" rel="stylesheet"/>
    <link href="Stylesheets/Accommodation.css" rel="stylesheet"/>
    <link href="Stylesheets/Global.css" rel="stylesheet"/>
    <link href="Stylesheets/CultureSelector.css" rel="stylesheet"/>
    
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src=@Assets["_content/MudBlazor/MudBlazor.min.js"]></script>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="JavaScript/animation.js"></script>
    </body>

</html>
